.bestproduct {
    height: 930px;
}

.bestproduct-bgr {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
}

.bestproduct-header {
    padding-bottom: 30px;
    max-width: 682px;
    margin: auto;
    text-align: center;
}

.bestproduct-header-title {
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #f96400;
}

.bestproduct-header-text {
    font-size: 20px;
    color: #f96400;
}

.bestproduct-list {
    margin-top: 34px;
}

.bestproduct-item {
    position: relative;
}

.bestproduct-item-img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 100%;
}

.bestproduct-item-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -10%;
    left: 0;
}

.bestproduct-item-box {
    width: 310px;
    height: 70px;
    background-color: #fff;
    border: 3px solid #020001;
    padding: 7px 8px 7px 16px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -35px;
    left: 45px;
}

.bestproduct-item-box-btn {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    background-color: #020001;
    border-radius: 50%;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bestproduct-item-box-title {
    width: 210px;
}

@media (max-width: 1024px) {
    .bestproduct {
        height: 400px;
    }

    .bestproduct-bgr {
        padding: 25px 0;
    }

    .bestproduct-header {
        padding: 0px 12px 25px;
        margin: auto;
        text-align: center;
    }

    .bestproduct-header-title {
        margin-bottom: 20px;
        font-size: 18px;
        letter-spacing: 2px;
        color: #f96400;
    }

    .bestproduct-header-text {
        font-size: 14px;
        color: #f96400;
    }

    .bestproduct-list {
        margin-top: 14px;
        padding: 0 8px;
    }

    .bestproduct-item {

        position: relative;
    }

    .bestproduct-item-img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 100%;
    }

    .bestproduct-item-icon {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -20%;
        left: 0;
    }

    .bestproduct-item-box {
        width: 98%;
        height: 30px;
        background-color: #fff;
        border: 2px solid #020001;
        padding: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .bestproduct-item-box-btn {
        font-size: 10px;
        font-weight: 500;
        color: #fff;
        background-color: #020001;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
    }

    .bestproduct-item-box-title {
        font-size: 10px;
        font-weight: 400;
        width: 94px;
    }

}